.card {
  background-size: cover !important;
  height: 250px;
  border-radius: 5px;
  position: relative;
  color: white;
  margin-bottom: 10px;
  text-shadow: 0 0 5px #000;


  &::after {
    z-index: 1;
    border-radius: 5px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: black;
    opacity: 0;
  }

  &:hover::after{
    opacity: 0.2;
  }

  .description {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: 10px;
  }

  .destination {
    z-index: 2;
    font-size: 20px;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  h3 {
    z-index: 2;
    font-weight: bold;
    position: absolute;
    bottom: 60px;
    left: 10px;
  }

  .avatar {
    z-index: 2;
    width:50px;
    border-radius: 50%;
    top: 10px;
    right: 10px;
    position: absolute;
  }
}
