<div class="features padded text-center">
  <h1>Meet the mf'ing team.</h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <%= image_tag "globe.png", alt: "globe" %>
        <h2>Globeface.</h2>
        <p>The earth is your new hom<b>i</b>e.</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= image_tag "dollar.png", alt: "cash, money money" %>
        <h2>Holla fo' a Dolla'</h2>
        <p>No cash issues anymore y'all.</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= image_tag "beer.png", alt: "beer" %>
        <h2>MadMug</h2>
        <p>Discover new cultures and lifestyles then forget about them when u get Rekt.</p>
      </div>
      <div class="col-sm-6 col-md-3">
        <%= image_tag "heart.png", alt: "dokidoki" %>
        <h2>DrStrangelove</h2>
        <p>You'll learn to love them.</p>
      </div>
    </div>
  </div>
</div>
